* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  height: 100vh;
  background-color: white;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: rgb(199, 199, 199);
  margin-bottom: 2rem;
}


